@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root {
  --color-bg: #e9f1f7;
  --color-primary: #454b66;
  --color-secondary: #ce84ad;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  box-shadow: none;
  color: var(--color-primary);
}

html, body {
  min-height: 100%;
  font-size: 10px;
  scroll-behavior: smooth;
  background-color: var(--color-bg);
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 1.5rem;

}

.header {
  font-family: 'Playfair Display', serif;
  font-weight: 300;
}

.title {
  font-size: calc(22px + 10 * ((100vw - 360px)/900))
}

.subtitle {
  color: var(--color-secondary)
}

.output {
  font-size: 1.4rem;
}
